@model ServiceLayer.ViewModels.RiddlePageModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
    </style>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @foreach (var riddle in Model.Get.Riddles)
    {
        <div>
            <a onclick="SetRiddleName('@riddle.RiddleName')">@riddle.RiddleName</a>
            <a>@riddle.RiddleContent</a>
            <a>@riddle.Answer</a>
            @foreach (var category in riddle.Categories)
            {
                <a asp-controller="Riddle" asp-action="Category" asp-route-_categoryName="@category.CategoryName">@category.CategoryName</a>
            }
            @foreach (var message in riddle.Messages)
            {
                <a>@message.MessageContent</a>
                <a>@message.UserName</a>
                <a>@message.Time</a>
            }
        </div>

    }
    @using Microsoft.AspNetCore.Http;
    @if (!String.IsNullOrEmpty(Context.Session.GetString("UserID")))
    {
        <form method="post" asp-controller="Riddle" asp-action="PostMessage">
            <input asp-for="Post.UserID" value="@Context.Session.GetString("UserID")" type="hidden" />
            <input asp-for="Post.RiddleName" value="" id="riddleName" type="hidden" />
            <input asp-for="Post.Message" class="form-control" />
            <div><input type="submit" value="Send" class="btn" /></div>
        </form>
    }
</body>
</html>

<script>
    function SetRiddleName(_name)
    {
        document.getElementById("riddleName").value = _name;
    }
</script>